#reset {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.3em;
}

#grid {
    display: grid;
    width: 800px;   
    height: 800px;
    grid-gap: 0;
    margin: auto;
    justify-content: stretch;
    border: 1px solid black;
}

.toggle{
background-color: red;}

#title {
    display: block;
    text-align: center;
}

